

.custom-navbar {
    background-color: rgb(54, 71, 98);
    min-height:80px; 
    padding-left: 50px;
}

.row {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 50px;
    margin-left: 50px;
}

body {
    margin:0px;
    font-family: sans-serif;
}

p {
    color: #000;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 50px;
    margin-left: 50px;
}

input {
    border: none;
    outline: none;
    min-height:30px; 
}

button {
    background-color: rgb(251, 147, 55);
    color: #fff;
    border-radius: 2px;
    min-height:30px; 
    min-width: 120px;
    border: none;
    outline: none;
}

button:hover,:focus,:active {
    background-color: rgb(240, 114, 30);
    color: #fff;
}